<div class="admonition-wrapper note d-none" id="banner-close">
  <div class="admonition alert alert-banner alert-dismissible fade show text-center" role="alert">
    <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
    We want to learn more about the tools that software professionals use in their daily work. Take
    <a href="https://gitlab.fra1.qualtrics.com/jfe/form/SV_3pDGEacqDgR3b7v" target="_blank" rel="noopener noreferrer">
    this quick survey
    </a>
    and you'll have a chance of winning one of the three available $30 gift cards!
    <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<script type="application/javascript" src="<%= @items['/assets/javascripts/banner.*'].path %>"></script>
